<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.reza.appnikestore">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppNikeStore"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".feature.list.ProductListActivity"
            android:exported="true" />
        <activity
            android:name=".feature.product.comment.CommentListActivity"
            android:exported="true" />
        <activity
            android:name=".feature.product.ProductDetailActivity"
            android:exported="true"
            android:label="@string/title_activity_product_detail"
            android:theme="@style/Theme.AppNikeStore.NoActionBar" />
        <activity
            android:name=".feature.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>